/*

HOW TO CREATE AN AUDIO PLAYER [TUTORIAL]

"How to create an Audio Player [Tutorial]" was specially made for DesignModo by our friend Valeriu Timbuc.

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com
http://vladimirkudinov.com

*/


.audio-player,
.audio-player div,
.audio-player h1,
.audio-player a,
.audio-player img,
.audio-player span,
.audio-player button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}



/* Buttons */
.mejs-controls .mejs-button button {
	cursor: pointer;
	display: block;
	position: absolute;
	
}
/* Play & Pause */
.audio_track .mejs-controls .mejs-play button,
.audio_track .mejs-controls .mejs-pause button {
	height: 22px;
	width: 22px;
	cursor: pointer;
	top: 0px;
	left: 0px;
	position: absolute;
	background: transparent url(../img/icons/music/play.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.audio_track .mejs-controls .mejs-pause button { 
	background: transparent url(../img/icons/music/pause.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

/* Play & Pause */
.main_track .mejs-controls .mejs-play button,
.main_track .mejs-controls .mejs-pause button {
	height: 15px;
	width: 25px;
	cursor: pointer;
	top: 14px;
	left: 27px;
	position: absolute;
	background: transparent url(../img/icons/music/play.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.main_track .mejs-controls .mejs-pause button { 
	background: transparent url(../img/icons/music/pause.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}


/* Play & Pause */
.tape_music .mejs-controls .mejs-play button,
.tape_music .mejs-controls .mejs-pause button {
	height: 15px;
	width: 15px;
	cursor: pointer;
	top: 15px;
	left: 10px;
	position: absolute;
	background: transparent url(../img/icons/music/play.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.tape_music .mejs-controls .mejs-pause button { 
	background: transparent url(../img/icons/music/pause.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

/* Progress Slider */
.audio_track .mejs-controls div.mejs-time-rail { width: 20px; }
.audio_track .mejs-controls .mejs-time-rail span {
	position: absolute;
	display: block;
	width: 485px;
	height: 2px;
	left: 0;
	bottom: -5px;
	cursor: pointer;
}


.audio_track .mejs-controls .mejs-time-rail .mejs-time-total { 
	width: 350px!important;
	background: #CECECE;
	height: 2px;
	z-index: 99;
	margin-left: 50px;
	 }


.audio_track .mejs-controls .mejs-time-rail .mejs-time-loaded {
	width: 0!important;
	height: 2px;
	background: red;
	z-index: 999;
}

.audio_track .mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	background: #6CBC00;
	z-index: 9999;
}
/* Progress Slider */
.main_track .mejs-controls div.mejs-time-rail { width: 20px; }
.main_track .mejs-controls .mejs-time-rail span {
	position: absolute;
	display: block;
	width: 400px;
	height: 2px;
	left: 0;
	bottom: 0;
	cursor: pointer;
}


.main_track .mejs-controls .mejs-time-rail .mejs-time-total { 
	width: 225px!important;
	background: #6b6b6b;
	height: 3px;
	z-index: 99;
	margin-left: 75px;
	margin-bottom: 8px;
	 }


.main_track .mejs-controls .mejs-time-rail .mejs-time-loaded {
	width: 0!important;
	height: 3px;
	background: #fff;
	z-index: 999;
}

.main_track .mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	height: 3px;
	background: #6CBC00;
	z-index: 9999;
}

/* Progress Slider */
.tape_music .mejs-controls div.mejs-time-rail { width: 20px; }
.tape_music .mejs-controls .mejs-time-rail span {
	position: absolute;
	display: block;
	height: 3px;
	left: 0;
	bottom: 0;
	cursor: pointer;
}
.tape_music .mejs-controls .mejs-time-rail .mejs-time-total { 
	width: 135px!important;
	background: #6b6b6b;
	height: 3px;
	z-index: 99;
	margin-left: 35px;
	margin-bottom: -5px;
	 }
.tape_music .mejs-controls .mejs-time-rail .mejs-time-loaded {
	width: 0;
	height: 3px;
	background: #fff;
	z-index: 999;
}
.tape_music .mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	height: 3px;
	background: #6CBC00;
	z-index: 9999;
}


/* Time Float Box */
.audio_track .mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	display: none;
	width: 33px;
	height: 23px;
	top: -26px;
	margin-left: -17px;
	background: url(../img/icons/audioplayer/time-box.png);
	z-index: 99999;
}

.audio_track .mejs-controls .mejs-time-rail .mejs-time-float-current {
	width: 33px;
	display: block;
	left: 0px;
	top: 4px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-align: center;
	z-index: 99999;
}

.audio_track .mejs-time .mejs-currenttime{
	display: block;
	position: absolute;
  right: 130px;
	top: 0px;
	color: #000;
}

/* Time Float Box */
.main_track .mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	display: none;
	width: 33px;
	height: 23px;
	top: -26px;
	margin-left: -17px;
	background: url(../img/icons/audioplayer/time-box.png);
	z-index: 99999;
}

.main_track .mejs-controls .mejs-time-rail .mejs-time-float-current {
	width: 33px;
	display: block;
	left: 0px;
	top: 4px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-align: center;
	z-index: 99999;
}

.main_track .mejs-time .mejs-currenttime{
	display: block;
	position: absolute;
  left: 265px;
	top: 8px;
	color: #c7c7c7;
}

/* Time Float Box */
.tape_music .mejs-time .mejs-currenttime{
	display: block;
	position: absolute;
  left: 200px;
	top: 15px;
	color: #333333;
	font-size: 12px;
}

/* Volume Slider */
.audio_track .mejs-controls div.mejs-horizontal-volume-slider {
	position: absolute;
	top: 23px;
	right: 0px;
	cursor: pointer;
	z-index: 9999;
}

.audio_track .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	width: 120px;
	height: 2px;
	background: #CECECE;
}
.audio_track .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position: absolute;
	width: 10px;
	height: 2px;
	top: 0px;
	left: 0px;
	background: #3C7CB7;
}

/* Volume Slider */
.main_track .mejs-controls div.mejs-horizontal-volume-slider {
	position: absolute;
	top: 29px;
	left: 315px;
	cursor: pointer;
	z-index: 9999;
}
.main_track .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	width: 60px;
	height: 3px;
	background: #6b6b6b;
}
.main_track .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position: absolute;
	width: 10px;
	height: 3px;
	top: 0px;
	left: 0px;
	background: #3C7CB7;
}
/* Volume Slider */
.tape_music .mejs-controls div.mejs-horizontal-volume-slider {
	position: absolute;
	top: 32px;
	left: 180px;
	cursor: pointer;
	z-index: 9999;
}
.tape_music .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	width: 55px;
	height: 3px;
	background: #6b6b6b;
}
.tape_music .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	height: 3px;


}

/* Volume Slider & Progress Bar Handle */
.audio_track .mejs-controls .mejs-time-rail .mejs-time-handle{
	position: absolute;
	display: block;
	width: 20px;
	height: 14px;
	top: -2px;
	left: 0;
	margin-left: 10px;
	background: url(../img/icons/audioplayer/handle.png) no-repeat;
	z-index: 99999
}
.audio_track .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle{
	position: absolute;
	display: block;
	width: 20px;
	height: 14px;
	top: -2px;
	left: 0;
	margin-left: 10px;
	background: url(../img/icons/audioplayer/handle-blue.png) no-repeat;
	z-index: 9999999
}

/* Volume Slider & Progress Bar Handle */
.main_track .mejs-controls .mejs-time-rail .mejs-time-handle{
	position: absolute;
	display: block;
	width: 20px;
	height: 14px;
	top: -1px;
	margin-left: 15px;
	background: url(../img/icons/audioplayer/handle.png) no-repeat;
	z-index: 99999
}
.main_track .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle{
	position: absolute;
	display: block;
	width: 20px;
	height: 14px;
	top: -1px;
	left: 0;
	margin-left: 10px;
	background: url(../img/icons/audioplayer/handle-blue.png) no-repeat;
	z-index: 9999999
}

/* Mute & Unmute */
.tape_music  .mejs-controls .mejs-mute button,
.tape_music  .mejs-controls .mejs-unmute button {
	display: none;
}
/* Mute & Unmute */
.main_track .mejs-controls .mejs-mute button,
.main_track .mejs-controls .mejs-unmute button {
	width: 14px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 315px;
	background: transparent url(../img/icons/audioplayer/mute.png) 0 0;
}
/* Mute & Unmute */
.audio_track .mejs-controls .mejs-mute button,
.audio_track .mejs-controls .mejs-unmute button {
	width: 14px;
	height: 12px;
	position: absolute;
	top: 2px;
	right: 105px;
	background: transparent url(../img/icons/audioplayer/mute.png) 0 0;
}
.mejs-container, .mejs-audio{
	height: 0!important;
	width: 0!important;
}